.counterBlue, .counterOrange, .counterRed{
  width:230px;
  height:130px;
  margin-left: 20px;
  color:white;
  border-radius: 10px;
  font-family: 'Arial';
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  float: left;

}

.counterBlue{
  background:DodgerBlue;
}

.counterOrange{
  background: DarkOrange;
}

.counterRed{
  background: Red;
}

button{
    font-family: 'Arial';
    width:100px;
    color:white;
    background-color: transparent;
    font-size: 20px;
    border-width: 1px;


}
